<div class="feed-item" [style.background-color]="postIt.color">
<header>
  <ion-avatar class="user--avatar">
    <img src="assets\img\icon1.jpg" alt="">
  </ion-avatar>
  <div class="user--info">
    <span class="user--info--name">
      Ana Bonfim
    </span>
    <span class="user--info--role">
      Economista
    </span>
  </div>
    <button type="button" class="read-more">
      Ler mais +
    </button>
</header>
<main>
  <div class="title">
    {{ postIt.title }}
  </div>
  <div class="annotation">
    {{ postIt.annotation }}
  </div>
</main>
<footer>
  <div class="comment--section">
    <input type="text" placeholder="Inserir comentário">
    <button type="button">Publicar</button>
  </div>
  <div class="action--section">
    <img src="assets\img\icon-chatbubble.svg" alt="">

    <ng-container *ngIf="!isLiked else liked">
      <img src="assets\img\icon-heart.svg" (click)="setLikeToPostIt()">
    </ng-container>
    
  </div>
</footer>
</div>

<ng-template #liked>
  <img src="assets\img\icon-heart-selected.svg"  (click)="setLikeToPostIt()">
</ng-template>

