<div class="login">
  <img class="background" src="assets/img/background.png">

  <img class="detail" src="assets/img/grade.svg">

  <div class="container">
    <img src="assets/img/logo.svg">
    <div class="container--inputs">
      <span>E-mail</span>
      <input type="email" [(ngModel)]="loginPayload.email">
      <span>Senha</span>
      <input type="password" [(ngModel)]="loginPayload.password">
    </div>
    
    <ion-button [class.disable]="!canLogin()" class="button" (click)="login()">
      {{ isLoading ? 'Carregando' : 'Confirmar'}}
      <app-half-circle-spinner 
        *ngIf="isLoading"
        [animationDuration]="1000"
        [size]="30"
        [color]="'#fff'">
      </app-half-circle-spinner>
    </ion-button>
    
    <p>
      Não possui uma conta? <a href="">Cadastre-se!</a>
    </p>
  </div>
</div>