.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    height: 70vh;
    transform: translateY(-30px);
    
    app-logo{
        width: 22%;
        height: 30%;

        @media screen and (min-width:850px){
            width: 10%;
        }
    }
   
    &--inputs{
        display: flex;
        flex-direction: column;
        width: 80%;
        
        span{
        color: rgb(112, 112, 112);
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: .5rem;
        font-style: italic;
        font-size: .95rem;
        padding-left: .95rem;
        }
    }
    p{
        font-weight: 500;
        margin-top: 1.5rem;
        font-size: 0.85rem;

        a{
            color: rgb(45, 159, 219);
            text-decoration: none;
        }
        #no-a{
            color: rgb(112, 112, 112);
        }
    }
}

app-half-circle-spinner{
    margin-left: 1rem;
}