.background{
    width: 100%;
    height: 35vh;
    object-fit: cover;
}
.detail{
    position: absolute;
    top: -10px;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    object-fit: cover;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    height:103vh;
    transform: translateY(-30vh);
    padding-top: 40px;

    .icon{
        position: absolute;
        left: 12%;
    }

    app-logo{
        width: 37px;
        transform: translateY(-10px);
        align-self: flex-start;
        margin-bottom: 1.5rem;
        margin-left: 18%;
    }

    &--inputs{
        display: flex;
        flex-direction: column;
        width: 80%; 
        
        span{
        color: rgb(112, 112, 112);
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: .5rem;
        font-style: italic;
        font-size: .95rem;
        padding-left: .95rem;
        }
    }

    .paragrafo{
        margin: .75rem 0 0 12%;

        p{
        color: rgb(112, 112, 112);
        align-self: center;
        font-size: 0.85rem;
        width: 75%;
        margin-block-end: 0;
        }
    }
    
}

.disable{
        opacity: .5;
        pointer-events: none;
}