<ion-button class="position" size="large" fill="outline">Botão</ion-button>

<ion-datetime class="position"></ion-datetime>

<ion-accordion-group class="position accordion">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Conteúdo inicial</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Primeiro
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Segundo conteúdo</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Segundo
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Terceiro conteúdo</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Terceiro
    </div>
  </ion-accordion>
</ion-accordion-group>