.profile{
    position: relative;
    overflow: hidden auto;
    max-height: 100%;
    

    .background{
        background-image: linear-gradient(to right, rgb(167,202,227), rgb(220,228,180));
    }

    .detail{
        position: fixed;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .user{
        margin-bottom: 2rem;
        border-radius: 20px 20px 0 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        background: white;
        color: black;
        transform: translateY(-80%); 

        &--avatar img{
            width: 7rem;
            transform: translateY(-3rem);  
            border: 10px solid white;
            border-radius: 100%;
        }
        &--title{
            transform: translateY(-3rem);  
            text-align: center;

            h1{
                font-family: 'Montserrat';
                font-weight: 600;
                color: #343434;
            }
            h2{
                font-family: 'Roboto';
                font-weight: 600;
                font-size: medium;
                color: #707070;
                margin-top: 0;
            }
        }

        .menu{
            position: absolute;
            top: 3rem;
            right: 1.5rem;
        }
    }
    .container {
        position: relative;
        width: 100%;
        padding: 3rem 1rem;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      
        
        background: white;
        color: black; 
        transform: translateY(-15%); 

        h3{
            font-family: 'Montserrat';
            font-weight: 600;
            color: #343434;
            text-transform: uppercase;
            font-size: 1.4rem;
            margin-top: 0;
        }
    }
    .profile-post{
            display: flex;
            justify-content: center;
            width: 90%;
            padding: 1rem;
            z-index: 100;
    }
}

.config{
    position: fixed;
    top: 0;
    right: 0;
  
    height: 100%;
    width: 20rem;
  
    background: white;
  
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms;
  
    &--backbutton{
      position: absolute;
      left: 2rem;
      font-size: xx-large;
    }
  
    header{
      padding: 4rem;
  
      display: flex;
      align-items: center;
      justify-content: center;
      color: #707070;
    }
  
    &--list{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 1rem;
      color: #707070;
  
      p{
        font-style: italic;
      }
    }
  
    footer{
      position: absolute;
      bottom: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  
  .settings-enable{
    opacity: 1 !important;
    pointer-events: all;
    z-index: 9999;
  
    &--brightness{
      background: rgba(0,0,0,0.5) !important;
    }
  
    &--profile{
      overflow: hidden;
    }
  }
  
  .brightness{
    z-index: 1;
  
    position: absolute;
    top: 0;
    pointer-events: none;
  
    height: 100vh;
    width: 100vw;
  
    background: rgba(0,0,0,0);
    transition: background-color 0.5s;
  }